---
import { Icon } from 'astro-icon'
// Components
import Link from '@components/Link.astro'
import List from './List.astro'
import ListItem from './ListItem.astro'
// Assets
import astroIcon from '@assets/icons/astro.svg'
import mdxIcon from '@assets/icons/mdx.svg'
import tailwindcssIcon from '@assets/icons/tailwindcss.svg'
import { LINKS, ROUTES } from '@config'

const { astro, copyright, github, linkedin, mdx, meet, tailwindcss, twitter } =
	LINKS

const { blog, bookshelf, home, portfolio, resume, rss, uses } = ROUTES

const CONSTANTS = {
	nav: [
		{
			label: 'Link to Home',
			href: home,
			isExternal: false,
			text: 'Home',
		},
		{
			label: 'Link to Blog',
			href: blog,
			isExternal: false,
			text: 'Blog',
		},
		{
			label: 'Link to Bookshelf',
			href: bookshelf,
			isExternal: false,
			text: 'Bookshelf',
		},
		{
			label: "Link to Cody Brunner's GitHub",
			href: github,
			isExternal: true,
			text: 'GitHub',
		},
		{
			label: "Link to Cody Brunner's LinkedIn",
			href: linkedin,
			isExternal: true,
			text: 'LinkedIn',
		},
		{
			label: "Link to Cody Brunner's Appointlet Booking Page",
			href: meet,
			isExternal: true,
			text: 'Meet',
		},
		{
			label: 'Link to Portfolio',
			href: portfolio,
			isExternal: false,
			text: 'Portfolio',
		},
		{
			label: "Link to Cody Brunner's Resume",
			href: resume,
			isExternal: true,
			text: 'Resume',
		},
		{
			label: "Link to Cody Brunner's Twiiter",
			href: twitter,
			isExternal: true,
			text: 'Twiiter',
		},
		{
			label: 'Link to Uses',
			href: uses,
			isExternal: false,
			text: 'Uses',
		},
	],
	year: new Date().getFullYear(),
}
---

<footer
	class='flex w-full flex-col space-y-8 border-t border-solid border-aura-gray pb-8 lg:flex-row lg:items-center lg:space-y-0 lg:pb-0 lg:pt-6'
>
	<div class='hidden flex-1 lg:block'>
		<List class='grid grid-cols-2 place-items-start gap-x-1' kind='unordered'>
			{
				CONSTANTS.nav.map(({ text, ...rest }) => (
					<ListItem class='group flex w-full rounded-lg bg-gradient-to-r hover:from-aura-purple-fading/70 hover:via-aura-purple-fading/30 hover:to-aura-purple-fading/0'>
						<Link
							{...rest}
							class='flex-1 py-1 transition-all delay-75 duration-100 ease-in-out group-hover:translate-x-6 group-hover:scale-110 group-hover:text-aura-orange'
						>
							{text}
						</Link>
					</ListItem>
				))
			}
		</List>
	</div>

	<div class='flex flex-1 flex-col items-center space-y-4 lg:items-end'>
		<div
			class='flex items-center space-x-3 rounded-3xl bg-aura-purple-fading px-4 py-2 shadow-lg'
		>
			<span class='font-medium text-white'>Built with</span>
			<Link
				aria-label={`Built with ${Astro.generator}`}
				class='transition-all duration-200 ease-in-out hover:scale-125'
				href={astro}
				isExternal
			>
				<img alt='AstroJS Icon' class='h-8 w-8' src={astroIcon} />
			</Link>
			<Link
				aria-label='Built with MDXJS'
				class='transition-all duration-200 ease-in-out hover:scale-125'
				href={mdx}
				isExternal
			>
				<img alt='MDXJS Icon' class='h-8 w-8' src={mdxIcon} />
			</Link>
			<Link
				aria-label='Built with TailwindCSS'
				class='transition-all duration-200 ease-in-out hover:scale-125'
				href={tailwindcss}
				isExternal
			>
				<img alt='TailwindCSS Icon' class='h-8 w-8' src={tailwindcssIcon} />
			</Link>
		</div>
		<Link
			aria-label='Link to RSS Feed for codybrunner.com'
			class='flex items-center space-x-1 transition-all duration-200 ease-in-out hover:scale-105 hover:text-aura-orange'
			href={rss}
		>
			<span>RSS Feed</span>
			<Icon class='h-5 w-5' name='mdi:rss' />
		</Link>
		<Link
			aria-label='Link to Creative Commons License'
			class='flex items-center space-x-1 transition-all duration-200 ease-in-out hover:scale-105 hover:text-aura-orange'
			href={copyright}
			isExternal
		>
			<span>All Content</span>
			<Icon class='h-4 w-4' name='mdi:copyright' />
			<span>{CONSTANTS.year}</span>
		</Link>
	</div>
</footer>
