---
import { Icon } from 'astro-icon'
// Components
import Link from '@components/Link.astro'
import List from './List.astro'
import ListItem from './ListItem.astro'
// Configs
import { LINKS, ROUTES } from '@config'

const { github, linkedin, meet, twitter } = LINKS

const { blog, home, portfolio, resume } = ROUTES

const CONSTANTS = [
	{
		label: 'Link to Home',
		href: home,
		isExternal: false,
		text: 'Home',
	},
	{
		label: 'Link to Blog',
		href: blog,
		isExternal: false,
		text: 'Blog',
	},
	{
		label: 'Link to Portfolio',
		href: portfolio,
		isExternal: false,
		text: 'Portfolio',
	},
	{
		label: "Link to Cody Brunner's Appointlet Booking Page",
		href: meet,
		isExternal: true,
		text: 'Meet',
	},
	{
		label: "Link to Cody Brunner's Resume",
		href: resume,
		isExternal: true,
		text: 'Resume',
	},
	{
		label: "Link to Cody Brunner's GitHub",
		href: github,
		isExternal: true,
		text: 'GitHub',
	},
	{
		label: "Link to Cody Brunner's LinkedIn",
		href: linkedin,
		isExternal: true,
		text: 'LinkedIn',
	},
	{
		label: "Link to Cody Brunner's Twitter",
		href: twitter,
		isExternal: true,
		text: 'Twitter',
	},
]
---

<header class='hidden w-full shrink-0 py-4 lg:block'>
	<nav class='flex items-center justify-between'>
		<div>
			<Link aria-label='Go to Home Page.' href={home}>
				<img
					alt='logo'
					class='h-10 w-10'
					src='/favicons/android-chrome-192x192.png'
				/>
			</Link>
		</div>
		<List
			class='flex-row items-center space-x-3 rounded-3xl bg-aura-purple-fading px-4 py-2 shadow-lg'
			kind='unordered'
		>
			{
				CONSTANTS.slice(0, 5).map(({ href, isExternal, label, text }) => (
					<ListItem class='group transition-all duration-200 ease-in-out lg:hover:scale-105'>
						<Link aria-label={label} href={href} isExternal={isExternal}>
							{text}
						</Link>
					</ListItem>
				))
			}
			<ListItem>
				<hr class='h-5 border border-l-white' />
			</ListItem>
			{
				CONSTANTS.slice(5).map(({ href, isExternal, label, text }) => (
					<ListItem class='group transition-all duration-200 ease-in-out lg:hover:scale-125'>
						<Link aria-label={label} href={href} isExternal={isExternal}>
							{text === 'GitHub' ? (
								<Icon alt='GitHub Icon' class='h-6 w-6' name='mdi:github' />
							) : text === 'LinkedIn' ? (
								<Icon alt='LinkedIn Icon' class='h-6 w-6' name='mdi:linkedin' />
							) : (
								<Icon alt='Twitter Icon' class='h-6 w-6' name='mdi:twitter' />
							)}
						</Link>
					</ListItem>
				))
			}
		</List>
	</nav>
</header>
