---
import type { Page } from 'astro'
import type { Post } from 'content/config'
// Components
import BaseLayout from '@layouts/BaseLayout.astro'
import FormattedDate from '@components/FormattedDate.astro'
import Head from '@components/Head.astro'
import Link from '@components/Link.astro'
import List from '@components/List.astro'
import ListItem from '@components/ListItem.astro'
import Main from '@components/Main.astro'
import Pagination from '@components/Pagination.astro'
import Section from '@components/Section.astro'
import SubTitle from '@components/SubTitle.astro'
import { truncate } from '@utils/string'
export interface Props {
	readonly description: string
	readonly page: Page<Post>
	readonly title: string
}

const { page } = Astro.props
---

<BaseLayout>
	<Head slot='metadata' />
	<Main class='space-y-6' slot='content'>
		<Pagination page={page} />
		<Section>
			<List
				class='grid flex-1 grid-cols-1 gap-6 md:grid-cols-2'
				kind='unordered'
			>
				{
					page.data.map(({ data: post, slug }) => (
						<ListItem class='h-72 rounded-lg bg-gradient-to-r from-aura-blue via-aura-purple to-aura-orange p-0.5'>
							<div class='flex h-full w-full flex-col space-y-2 rounded-lg bg-aura-black p-4'>
								<div class='flex flex-col'>
									<SubTitle heading='h3'>
										<Link class='!text-aura-white/70' href={slug}>
											{post.title}
										</Link>
									</SubTitle>
									<FormattedDate
										class='!text-aura-gray'
										date={post.updatedAt ?? post.publishedAt ?? post.createdAt}
									/>
								</div>
								<p class='text-aura-gray'>{truncate(post.description)}</p>
							</div>
						</ListItem>
					))
				}
			</List>
		</Section>
		<Pagination page={page} />
	</Main>
</BaseLayout>
